$primary: #100e0e !default;
$secondary: #d75726 !default;

$light: #ebe2e2 !default;

$black:#000000 !default;
$white:#ffffff !default;

$body-bg:#ffffff !default;
$body-color:#100e0e !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "black": $black,
  "white": $white,
  "body-bg":    $body-bg,
  "body-color":  $body-color
), $theme-colors);